-- SQL Migration for AI Raw Material Vision Analysis

ALTER TABLE analytical_data
ADD COLUMN IF NOT EXISTS ai_classification VARCHAR(255),
ADD COLUMN IF NOT EXISTS ai_condition VARCHAR(255),
ADD COLUMN IF NOT EXISTS ai_confidence NUMERIC(5, 2),
ADD COLUMN IF NOT EXISTS ai_detected_defect VARCHAR(255),
ADD COLUMN IF NOT EXISTS ai_model_version VARCHAR(255),
ADD COLUMN IF NOT EXISTS ai_visual_qa_result VARCHAR(50);
